@import "tailwindcss";
@config "../tailwind.config.ts";

:root {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

.scroll-thin::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.scroll-thin::-webkit-scrollbar-button {
  display: none; /* hides arrows */
}

.scroll-thin::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.10);
  border-radius: 0px; /* sharp edge */
}

.scroll-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-bar-round::-webkit-scrollbar-thumb {
  border-radius: 10px; /* sharp edge */
}


/* Floating Dock animation */

.dock-animate-in {
  opacity: 0;
  transform: scale(0.96);
  animation: dockFadeIn 70ms ease-out forwards;
}

@keyframes dockFadeIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.dock-animate-out {
  opacity: 1;
  transform: scale(1);
  animation: dockFadeOut 50ms ease-in forwards;
}

@keyframes dockFadeOut {
  to {
    opacity: 0;
    transform: scale(0.92);
  }
}
